*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    --darkblue: #122a57;
    --white: #fff;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li a{
    text-decoration: none;
}

div img{
    display: block;
    width: 100%;
}

.flex-container{
    display: flex;
    max-width: 62rem;
    margin: auto;
    width: 100%;
    min-width: 20rem;    
}

header{
    background-color: #122a57;
    height: 6.25rem;
    display: flex;
    align-items: center;
    color: var(--white);
}

header .list-items{
    display: flex;
    max-width: 16.25rem;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.list-items li a{
    color: var(--white);
}

header .menu{
    justify-content: space-between;
}

.presentation{
    height: 100vh;
    align-items: center;
    justify-content: space-between;
}

.presentation .presentation-text{
    min-height: 12.5rem;
}

.presentation-text h1{
    color: var(--darkblue);
    font-size: 3rem;
    margin-bottom: 0.62rem;
}

.btn{
    color: var(--white);
    background-color: var(--darkblue);
    text-align: center;
    border-radius: 1.87rem;
    width: 220px;
    display: block;
    height: 3.12rem;
    text-decoration: none;
    line-height: 3.12rem;
    margin: 0.625rem 0;
}

#quem-somos{
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

#quem-somos h2{
    font-size: 2rem;
    color: var(--darkblue);
    display: flex;
    margin-bottom: 1.25rem;
}

#quem-somos h2::before{
    content: "";
    height: 3.12rem;
    width: 0.31rem;
    margin-right: 0.31rem;
    background-color: var(--darkblue);
    position: relative;
}

#quem-somos p{
    width: 90%;
}

#quem-somos img{
    width: 26.25rem;
}

.external-container{
    background-color: var(--darkblue);
    width: 100%;
    padding-bottom: 6.25rem;
    padding-top: 3.12rem;
}

#services{
    flex-direction: column;
}

#services h2{
    color: var(--white);
    font-size: 2rem;
    margin-bottom: 1.25rem;
}

.services-list{
    display: flex;
    justify-content: space-around;
}

.services-list .service-item{
   text-align: center;
}

.service-item p{
    color: var(--white);
    margin-top: 1.25rem;
    font-weight: 700;
    font-size: 1.12rem;
}

.service-item a{
    background-color: var(--white);
    color: var(--darkblue);
    text-decoration: none;
    width: 13.7rem;
    height: 3.12rem;
    line-height: 3.12rem;
    text-align: center;
    border-radius: 1.87rem;
    margin-top: 1.25rem;
    padding: 0.31rem 0.62rem;
    font-size: 0.87rem;
    font-weight: 700;
    display: block;
}

.service-item img{
    width: 80%;
    margin: auto;
}

#plans{
    flex-direction: column;
    min-height: 100vh;
    padding-top: 3.12rem;
}

#plans h2{
    color: var(--darkblue);
    font-size: 2rem;
    padding-top: 3.12rem;
    margin-bottom: 1.25rem;
}

.list-plans{
    display: flex;
    align-items: flex-end;
    justify-content: space-between
}

.item-plan{
    flex: 1;
    border : 0.32rem solid var(--darkblue);
    margin-right: 1.25rem;
    padding: 0.62rem;
    max-width: 15rem;
    
}

.item-plan .btn{
    margin: auto;
    margin-bottom: 1.25rem;
}

.item-plan h3{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.item-plan h3::after{
    content: "";
    width: 90%;
    height: 0.19rem;
    margin: 1.25rem auto;
    background-color: var(--darkblue);
    position: relative;
}

.item-plan ul{
    padding: 0.62rem 1.25rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 0.62rem;
}

.item-plan ul li{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.item-plan ul li::before{
    content: "";
    width: 0.62rem;
    height: 0.62rem;
    background-color: var(--darkblue);
    margin-right: 0.62rem;
}

footer{
    background-color: var(--darkblue);
    color: var(--white);
}

footer .footer{
    justify-content: space-between;
    align-items: center;
    height: 4.37rem;
    width: 100vw;
}

/* Mobile */
@media(max-width: 992px){
    .flex-container{
        flex-direction: column;
    }
    .menu h1{
        margin-bottom: 1rem;
    }
    .presentation{
        flex-direction: column-reverse;
        height: auto;
    }
    .presentation .presentation-text{
        width: 100%;
        text-align: center;
    }
    .presentation .presentation-text a{
        margin: auto;
    }
    #quem-somos{
        flex-direction: column-reverse;
        margin-bottom: 1rem;
    }
    #quem-somos img{
        min-width: 20rem;
        margin: auto;
    }
    .services-list{
        flex-direction: column;
        margin: auto;
    }
    .service-item img{
        width: 50%;
        margin: auto;
    }
    .list-plans{    
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 1.25rem;
    }
    .list-plans .item-plan{
        max-width: 90%;
        margin: auto;
        width: 100%;
        margin-bottom: 1.25rem;

    }
}
